<nav>
    <div class="site-title">
        <a href="/"><h1>My Page</h1></a>
        <h2>Welcome to my node project.</h2>
    </div>
    <ul>
        <li><a href="/"> Home</a> </li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs">Blogs</a></li>
    </ul>
</nav>