<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>

        <h2> This is about page.</h2>
        <!--footer-->
        <%- include("./partials/footer.ejs") %>

    </body>

</html>